# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\Desktop\java_projects\Swing Hesap Makinesi\.idea/dataSources/
/dataSources.local.xml
