# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\IdeaProjects\okul_odevleri\odev8\.idea/dataSources/
/dataSources.local.xml
