# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\Desktop\java_projects\Yurt_Dışı_Çıkış_Programı\.idea/dataSources/
/dataSources.local.xml
